.accordion {
  padding: 12px; }

.accordion-entry {
  cursor: pointer;
  margin: 6px 0;
  transition: 0.3s all; }
  .accordion-entry .accordion-entry-name {
    transition: 0.3s all;
    padding-left: 8px;
    flex: 3;
    display: flex;
    align-items: center;
    font-size: 18px; }
    .accordion-entry .accordion-entry-name :hover {
      padding-left: 12px; }
  .accordion-entry[data-accordion="active"] .accordion-entry-name:hover {
    padding-left: 8px; }

.accordion-entry-data {
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.3s all;
  height: 0;
  box-shadow: 1px 9px 10px rgba(0, 0, 0, 0.1); }

.accordion-entry-open {
  animation: accordion-open 0.3s forwards; }

.accordion-entry-close {
  animation: accordion-close 0.3s forwards; }

.accordion-entry-name-wrapper {
  display: flex;
  background: #8193a4;
  color: white;
  transition: 0.3s all;
  align-items: stretch; }

.accordion-tag-express {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px; }

.accordion-tag-translate {
  border-left: 6px #03758b solid; }

.accordion-tag-edit {
  border-left: 6px #ca5703 solid; }

.accordion-tag-cost {
  font-size: 22px;
  width: 120px;
  background-color: #647381;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 5px; }

.accordion-tags {
  display: flex;
  font-size: 22px;
  background-color: #ccd3d9; }

@keyframes accordion-open {
  from {
    height: 0; }
  to {
    height: 200px; } }

@keyframes accordion-close {
  from {
    height: 200px; }
  to {
    height: 0; } }

@keyframes rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.rotate {
  animation: rotate 2s linear infinite; }

.checkbox {
  top: 4px;
  width: 25px;
  height: 25px;
  border: 1px solid #404040;
  border-radius: 3px;
  order: 1; }
  .checkbox:hover {
    cursor: pointer; }

.checkbox-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center; }
  .checkbox-wrapper > label {
    padding-left: 5px; }

.checkbox-label {
  order: 1;
  flex: 1 1; }
  .checkbox-label:hover {
    cursor: pointer; }

input[type='checkbox'] {
  display: none; }
  input[type='checkbox']:checked + .checkbox {
    background: #2f4857; }

:root {
  --main-color: #353C51; }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  display: flex;
  flex-direction: column;
  background: white;
  font-family: 'Roboto Condensed', sans-serif; }

input,
select {
  width: 100%;
  padding: 8px 6px;
  border: 1px solid #404040;
  border-radius: 3px;
  font-size: 16px;
  transition: 0.2s; }

form {
  display: flex;
  flex-direction: column;
  padding: 12px; }

input[type=submit] {
  width: 100%;
  background: #3D4144;
  color: white; }
  input[type=submit] :hover {
    cursor: pointer;
    background: #262A2C; }

input[type=file]::-webkit-file-upload-button {
  visibility: hidden; }

input[readonly] {
  background: #f9f9f9;
  border: #f9f9f9; }
  input[readonly]:active, input[readonly]:focus {
    outline: none; }
  input[readonly]:hover {
    cursor: default; }

button {
  border: none;
  transition: 0.2s;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
  padding: 10px;
  color: white;
  border-radius: 3px;
  outline: none; }
  button[disabled] {
    cursor: initial;
    background: #636363;
    border-bottom: 3px #484848 solid;
    opacity: 1; }
    button[disabled] :hover {
      opacity: 1; }

.row {
  width: 100%;
  padding: 8px 0;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .row .input-wrapper label,
  .row > label {
    flex: 0 0 150px; }

.column {
  width: 100%;
  padding: 8px 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between; }

.files-input {
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

.refresh-icon {
  width: 35px;
  height: 35px;
  padding: 5px;
  float: right;
  cursor: pointer;
  transition: all 1s; }
  .refresh-icon path {
    fill: #2E3447; }

.icon {
  width: 20px;
  height: 20px; }

.input-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  flex: 1; }
  .input-wrapper > select + select {
    margin-right: 5px; }
  .input-wrapper + .input-wrapper > label {
    margin-right: 8px;
    margin-left: 5px; }

.file-add {
  flex-basis: 33%;
  padding: 6px 10px;
  border-radius: 3px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border: 1px #7366BA dashed; }
  .file-add :hover {
    border: 1px #7366BA solid; }

.file-icon {
  width: 18px;
  height: 18px;
  margin-right: 4px; }

.file-name {
  padding: 0;
  font-size: 20px;
  margin-bottom: 0; }

.content-wrapper {
  display: flex;
  height: 100vh; }

.accordion {
  flex: 1 1 auto;
  overflow: auto;
  height: calc(100% - 60px); }

.right-side {
  width: 100%;
  height: 100vh;
  overflow: auto; }

.logo-trlr {
  display: flex;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s;
  align-items: center;
  justify-content: space-evenly;
  min-height: 60px;
  max-height: 60px;
  padding: 0 24px;
  box-shadow: 27px -4px 18px 0 rgba(25, 20, 20, 0.36); }
  .logo-trlr p {
    font-size: 22px; }

.fossalogo-trlr {
  width: 40px; }

.left-menu-wrapper {
  width: 250px;
  border-top: 2px #3f445d solid;
  height: 100%;
  display: flex;
  flex-direction: column; }

.left-menu-btns,
.left-menu-logout {
  display: flex;
  align-items: center;
  padding-left: 20px;
  height: 50px;
  font-size: 20px;
  color: white;
  opacity: 0.8;
  text-decoration: none;
  border-bottom: 2px #3f445d solid;
  transition: 0.3s all; }
  .left-menu-btns:hover,
  .left-menu-logout:hover {
    opacity: 1;
    background: #495370; }
  .left-menu-btns img,
  .left-menu-logout img {
    width: 20px;
    margin-right: 10px; }

.left-menu-logout {
  border-top: 2px var(--main-color) solid;
  margin-top: auto; }

.left-side {
  width: 250px;
  height: 100%;
  max-height: 100%;
  display: flex;
  background: var(--main-color);
  flex-direction: column;
  z-index: 10; }

.login-form-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.login-form {
  display: flex;
  flex-direction: column;
  position: relative;
  background: white;
  width: 295px;
  padding: 30px 24px;
  box-shadow: -1px 4px 17px 0px #e0e0e0; }

.login-logo-wrapper {
  text-decoration: none;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5; }

.login-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 15px; }

.login-input-wrapper {
  display: flex;
  border-bottom: 2px solid black;
  align-items: center;
  padding: 0 4px; }
  .login-input-wrapper:hover {
    cursor: pointer; }

.login-input {
  border: none;
  outline: none;
  background: none;
  padding: 8px 12px; }

.login-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0; }
  .login-row + .login-row {
    padding-bottom: 32px; }

.login-input-label {
  display: flex;
  padding: 7px; }

.login-submit {
  text-align: center;
  background: linear-gradient(to right, #02d1d9, #397ef7, #6734d9);
  border: none;
  padding: 12px;
  width: 100%;
  text-transform: uppercase;
  color: white;
  font-size: 18px;
  outline: none; }

.login-forgot-password {
  font-weight: bold;
  font-size: 12px;
  text-align: right;
  margin-top: 5px;
  color: black;
  width: 100%;
  display: block; }

.login-forgot-password:hover {
  cursor: pointer; }

.login-error {
  color: red;
  text-align: center;
  padding: 5px;
  display: none; }

.order-document-type {
  float: left;
  margin-right: 4px; }

.icon-file-download {
  float: right;
  margin-left: 3px;
  cursor: pointer; }

.order-price-sum {
  display: flex;
  font-size: 24px;
  padding-left: 5px; }

.order-price {
  padding: 0 10px; }

.form-column-right {
  padding: 20px;
  background: #F7F7F7;
  border: 2px #808080 solid;
  border-top: none;
  display: flex;
  flex-direction: column-reverse;
  flex: 1 0 100%; }

.form-button-save {
  background: #6EDA10;
  border-bottom: 3px #62c20e solid; }

.form-button-icon {
  pointer-events: none; }

.form-button-text {
  pointer-events: none;
  font-size: 22px;
  flex: 1; }

.form-button {
  padding: 15px 20px;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 100%;
  margin: 5px 0;
  color: white;
  border-radius: 3px; }
  .form-button:hover {
    opacity: 0.8; }

.order-button-create {
  background: #FFAB47;
  border-bottom: 3px #BA7B34 solid; }

.order-button-print {
  background: #037D7E;
  border-bottom: 3px #005B5B solid; }

.order-button-edit {
  background: #9A2CBC;
  border-bottom: 3px #712789 solid; }

.form-wrapper {
  display: flex;
  margin: 30px;
  flex-wrap: wrap; }

.orders-wrapper {
  min-width: 1300px;
  width: 80vw;
  flex-wrap: wrap; }

.form-column-left {
  background: #F9F9F9;
  border: 2px #808080 solid;
  padding: 10px;
  flex-basis: 100%;
  border-bottom: none; }

.form-title {
  padding: 10px;
  margin: -10px -10px 10px;
  text-align: center;
  font-size: 20px;
  background: #F7F7F7;
  border-bottom: 2px #DCDCDC solid; }

.order-documents-wrapper {
  width: 80%;
  margin: 10px 0;
  flex: 1 1 100%; }

.order-documents-selected {
  display: block;
  width: 100%;
  height: 40px;
  padding: 8px 6px;
  font-size: 16px;
  transition: 0.2s;
  border: 1px black dashed;
  overflow: hidden;
  text-align: center;
  cursor: pointer; }
  .order-documents-selected img {
    margin-right: 5px; }
  .order-documents-selected:hover {
    background: #F5FFDD;
    transition: 0.3s; }

.order-documents-list {
  display: none;
  flex-wrap: wrap;
  width: 100%;
  padding: 8px;
  font-size: 16px;
  transition: 0.2s;
  border: 1px black dashed; }
  .order-documents-list > * {
    flex: 1;
    height: 30px; }

.order-selected-file {
  flex: 1 0 33%;
  margin-bottom: 5px;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  background: #E5E5E5;
  width: 180px;
  display: flex;
  cursor: pointer;
  justify-content: space-between; }

.selected-file p,
.order-selected-file p {
  display: inline-block;
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis; }

.order-number input {
  width: 50px; }

.print-page {
  margin: 0 auto;
  width: 877px;
  display: flex; }

td {
  border: 1px black solid; }

.print-table {
  width: 100%;
  font-size: 30px; }

.print-top,
.print-main,
.print-second {
  padding: 30px;
  display: flex; }

.receipt-top,
.receipt-body {
  padding: 10px 10px 10px 30px;
  display: flex; }

.print-top,
.print-second {
  padding-bottom: 0; }

.print-main {
  padding-top: 20px; }

.print-top div {
  float: left; }

.print-number,
.print-dates,
.print-express {
  font-size: 18px; }

.print-number {
  width: 150px;
  font-size: 18px; }

.print-dates {
  width: 450px; }

.print-express {
  width: 150px;
  text-align: right; }

.print-main,
.print-second,
.receipt-top,
.receipt-body {
  border: 0;
  font-size: 18px; }

.receipt-top {
  margin-top: -20px;
  font-size: 18px; }

.print-second,
.receipt-body {
  padding-top: 0;
  width: 100%; }

.receipt-body {
  display: block; }

#print-leftblock {
  width: 577px; }

.print-sting {
  width: 550px;
  margin-bottom: 10px; }

.cost {
  margin-bottom: 10px;
  display: flex; }

.final-cost {
  padding-top: 10px;
  font-size: 24px; }

.final-cost-label {
  font-weight: bold;
  font-size: 24px;
  margin-right: 10px; }

.print-rightblock {
  width: 300px;
  border-left: 2px black solid;
  padding-left: 10px; }

.print-label,
.print-cost {
  font-weight: bold;
  margin-right: 5px; }

.print-cost {
  width: 120px; }

.cost-number {
  width: 100px; }

body {
  background: #F2F0F2; }

.cards-container {
  padding: 64px; }
  .cards-container .empty {
    width: 100%;
    font-size: 24px; }

.right-side-header {
  width: 100%;
  background: var(--main-color);
  color: white;
  display: flex;
  align-items: center;
  min-height: 60px;
  max-height: 60px;
  padding-left: 25px; }

.filter-lang {
  font-size: 20px;
  padding: 0 12px; }

.filter-price {
  font-size: 20px;
  display: flex;
  border-left: inset #7e8aa7 2px;
  padding-left: 12px; }

.filter-title {
  padding-right: 10px; }

.filter-price-min {
  margin-right: 10px; }

.filter-price-max {
  margin-left: 10px; }

.filter-price-min,
.filter-price-max {
  width: 100px;
  border-bottom: solid 2px white;
  text-align: center; }

.card {
  display: flex;
  position: relative;
  background: white;
  padding: 30px;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); }
  .card + .card {
    margin-top: 20px; }

.profile-avatar {
  order: 0;
  width: 140px;
  height: 140px;
  border: 1px #EFEFF2 solid; }

.profile,
.order-details {
  width: 100%;
  font-size: 20px; }

.profile-qualification {
  padding-top: 12px;
  color: #8E8D8E; }

.profile-name {
  padding-top: 12px; }

.pills-row {
  width: 100%;
  margin-top: 20px;
  color: #4F4981;
  word-wrap: break-word;
  display: flex;
  flex-wrap: wrap; }

.pill {
  text-transform: capitalize;
  padding: 10px;
  background: #EBE8F9;
  margin-right: 5px;
  border-radius: 3px;
  font-size: 16px; }

.order-details {
  width: 100%; }
  .order-details .profile {
    border-right: 1px #D6DBDE solid; }

.order-actions {
  width: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  text-align: center;
  font-size: 30px;
  padding: 10px 10px 10px 30px; }

.order-expiration-date {
  font-size: 16px;
  margin-top: 10px; }

.assign-button {
  background: #6EDA10; }
  .assign-button:hover {
    background: #7CE81E; }

.order-to-approve {
  background: #0DB2E9; }
  .order-to-approve:hover {
    background: #58C4E8; }

.order-refuse {
  background: #E44729; }
  .order-refuse:hover {
    background: #e0745c;
    color: white; }

.order-recommendations {
  font-size: 16px;
  color: #898989;
  padding: 12px 0; }

.order-upload-files {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 2px #D6DBDE dashed; }

.order-cabinet-files,
.order-upload-result {
  display: flex;
  justify-content: start;
  flex-wrap: wrap; }

.order-files {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap; }

.order-file {
  padding: 6px 10px;
  border-radius: 3px;
  margin-right: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px #7366BA dashed; }
  .order-file:hover {
    border: 1px #7366BA solid; }

.profile-balance {
  width: 250px;
  padding: 5px 30px 30px; }

.balance-header {
  font-size: 25px;
  color: #8E8D8E; }

.balance {
  font-size: 30px;
  padding-top: 10px;
  color: black; }

.payment-history-entry {
  color: #005B5B; }

.payment-history-show-more {
  text-decoration: none;
  padding-top: 10px;
  color: #23C0E9; }

.file {
  padding: 12px;
  border-radius: 4px;
  color: #8E8D8E; }

.order-upload-result {
  display: flex; }

.files-row {
  display: flex;
  flex-wrap: wrap; }

.status-pane-translating {
  position: absolute;
  width: 160px;
  top: -6px;
  left: -6px;
  background: #00758b;
  text-align: center;
  padding: 4px 0;
  color: white; }

.status-pane-approving {
  position: absolute;
  width: 160px;
  top: -6px;
  left: -6px;
  background: #cd5501;
  text-align: center;
  padding: 5px 0;
  color: white; }

