<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- For development, pass document through inliner -->
    <link rel="stylesheet" href="../css/invite.css">

    <style type="text/css">
        /* Your custom styles go here */
    </style>
</head>

<body>
    <table class="body-wrap">
        <tr>
            <td class="container">

                <!-- Message start -->
                <table>
                    <tr>
                        <td>
                        <table>
                            <td align="right" width="40px" class="masthead">

                             </td>
                        <td align="right" width="20px" class="masthead">
                           <img src="https://hub.fossa-translate.ru/images/logo.png"/>
                        </td>
                        <td align="left" width="100px" class="masthead">
                            <h1>Fossa Translate</h1>
                        </td>
                        </table>
                    </td>
                    </tr>
                    <tr>
                        <td class="content">

                            <h2>Здравствуйте,</h2>
                            <h2>{{name}}</h2>

                            <p>Вы получили приглашение на регистрацию в системе Fossa Translate.
                                Перейдите по ссылке ниже, чтобы завершить регистрацию.</p>
                            <table>
                                <tr>
                                    <td align="center">
                                        <p>
                                            <a href="{{inviteUrl}}" class="button">Завершить регистрацию</a>
                                        </p>
                                    </td>
                                </tr>
                            </table>

                            <p>Ваши данные для входа:</p>
                            <table>
                                <tr>
                                    <td width="100px" style="font-weight: bold;"> Логин:</td>
                                    <td>{{email}}</td>
                                </tr>
                                <tr>
                                    <td width="100px" style="font-weight: bold;">Пароль:</td>
                                    <td>{{password}}</td> </tr> </table> </td> </tr> </table> </td> </tr> <tr>
                                    <td class="container">

                                        <!-- Message start -->
                                        <table>
                                            <tr>
                                                <td class="content footer" align="center">
                                                    <p><a href="#">Fossa-translate.ru</a>, 305000 Курская область, Курск, Кирова 4, офис 9
                                                        </p>
                                                    <p>E-mail для связи: <a href="mailto:">info@fossa-translate.ru</a>
                                                    </p>
                                                </td>
                                                <!-- <td class="content footer" align="center">
                                                    <p>Sent by <a href="#">Fossa Inc.</a>, 305000 Kursk Region, Kursk, Kirova 4, office 9
                                                        </p>
                                                    <p><a href="mailto:">info@fossa=translate.ru</a> |
                                                        <a href="#">Unsubscribe</a></p>
                                                </td> -->
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                            </table>
</body>

</html>