* {
  margin: 0;
  padding: 0;
}

.header {
  padding: 12px 0;
  font-size: 24px;
  color: white;
  background: #2e3447;
  width: 100%;
  text-align: center;
}

.header-text {
  display: inline-block;
}

.wrapper {
  width: 800px;
  margin: 0 auto;
}

.logo {
  margin-right: 10px;
  height: 60px;
}

a {
  color: #1791c2;
}