<a href="/">На волю!(кликой на меня)</a>
Dev pages:

<style>
    .list {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
    }
</style>

<div class="list">
    {{#pages.length}}
        {{#pages}}
            <a href="{{url}}">{{pageName}}</a>
        {{/pages}}
    {{/pages.length}}
</div>