<div class="cards-container">
    {{#orders}}
        <div class="card">
            <div class="order-details">
                <p class="order-documents">{{listDocs}}</p>
                <div class="pills-row">
                    <p class="pill">{{languageFrom}}</p>
                    <p class="pill">{{languageTo}}</p>
                </div>
                <div class="order-recommendations">{{additionalMaterials}}</div>
            </div>
            <div class="order-actions">
                <p class="order-price">{{price}}₽</p>
                <button class="assign-button" onclick="assignTranslator({{id}})">В работу</button>
                <a class="order-expiration-date" title="Время завершения">до {{dateTo}}</a>
            </div>
        </div>
    {{/orders}}
    {{^orders}}
        <div class="empty">Пусто :(</div>
    {{/orders}}
</div>

