<div class="cards-container">
    {{#orders}}
    <div class="card">
        <p class="status-pane-{{type}}">{{typeLocalized}}</p>
        <div class="order-details">
            <p class="order-documents">{{listDocs}}</p>
            <div class="pills-row">
                <p class="pill">{{languageFrom}}</p>
                <p class="pill">{{languageTo}}</p>
            </div>
            <div class="order-recommendations">{{additionalMaterials}}</div>

            <div class="order-files">
                {{#files}}
                <div class="order-file">
                    <img src="/images/file ext/{{icon}}.png" class="file-icon" alt=""/>
                    <p class="file-name">{{name}}</p>
                </div>
                {{/files}}
            </div>
            <div class="order-upload-files">Загрузить результаты работы:</div>
            <div class="order-files">
                <label class="file-add" for="documents">Добавить файл</label>
                <input type="file" id="documents" name="documents" multiple class="files-input">
                <div class="files-row"></div>
            </div>
        </div>
        <div class="order-actions">
            <p class="order-price">{{price}}₽</p>
            <button class="order-to-approve" onclick="submitTranslation({{id}})">На проверку</button>
            <a class="order-expiration-date" title="Время завершения">до {{dateTo}}</a>
            <button class="order-refuse" onclick="unassignTranslator({{id}})">Отказаться</button>
        </div>
    </div>
    {{/orders}}
    {{^orders}}
        <div class="empty">Пусто :(</div>
    {{/orders}}
</div>

<script>
    initFileInput(false, customFileInputEvent);
</script>
