<div class="cards-container">
    <div class="card">
        <div class="profile">
            <img src="{{user.avatar}}" class="profile-avatar"/>
            <div class="profile-description">
                <p class="profile-name">{{user.name}}</p>
                <p class="profile-qualification">{{user.qualificationLocalized}}</p>
                <div class="pills-row">
                    {{#user.languages}}
                        <p class="pill">{{.}}</p>
                    {{/user.languages}}
                </div>
            </div>
        </div>
        <div class="profile-balance">
            <p class="balance-header">Мой баланс</p>
            <p class="balance">{{user.balance.total}}₽</p>
            <div class="payment-history">
                {{#user.balance.history}}
<!--                    todo show plus/minus dunno why-->
                    <div class="payment-history-entry">{{.}}</div>
                {{/user.balance.history}}
            </div>
            <a href="" class="payment-history-show-more">Полная история выплат</a>
        </div>
    </div>
</div>