<div class="login-title">Сбросить пароль</div>

<div class="login-row">
	<div class="login-input-label">Логин</div>
	<div class="login-input-wrapper">
		<i class="fas fa-user"></i>
		<input type="text" name="username" class="login-input" placeholder="Введите ваш логин">
	</div>
</div>

<button class="login-submit">Сбросить пароль</button>
//todo events
