<div class="login-title">Войти</div>

<div class="login-row">
	<div class="login-input-wrapper">
		<i class="fas fa-user"></i>
		<input type="text" name="username" class="login-input" placeholder="Введите ваш логин">
	</div>
</div>

<div class="login-row">
	<div class="login-input-wrapper">
		<i class="fas fa-lock"></i>
		<input type="password" name="password" class="login-input" placeholder="Введите ваш пароль">
	</div>
</div>

<button class="login-submit" type="submit">Войти</button>
<a class="login-forgot-password" href="/forget-password">Забыли пароль?</a>

<p class="login-error">Неверный логин или пароль</p>
