<!doctype html>
<html lang="en">
<head>
	<title>{{pageTitle}}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/css/main.css">
	<script src="/js/cache.js"></script>
	<script src="/js/common.js"></script>
	<script src="/js/translator.js"></script>

	<script src="https://kit.fontawesome.com/69b7c721d6.js" crossorigin="anonymous"></script>
	<link rel="icon" href="/images/logo.png">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
</head>
<body>
<div class="content-wrapper">
	<div class="left-side">
		<a class="logo-trlr" href="/">
			<img src="/images/logo.png" alt="fossalogo" class="fossalogo-trlr">
			<p>Fossa Translate</p>
		</a>
		<div class="left-menu-wrapper">

<!--			todo: make programmatically -->
			{{#isOperator}}
				<a href="/users" class="left-menu-btns">
					Редактирование переводчиков
				</a>
				<a href="/user/new" class="left-menu-btns">
					Добавить переводчика
				</a>
				<a href="/orders" class="left-menu-btns">
					Заказы
				</a>
				<a href="/order/new" class="left-menu-btns">
					Создание заказа
				</a>
			{{/isOperator}}
			{{#isTranslator}}
				<a href="/translator" class="left-menu-btns">
					<img src="/images/account/profile.png" alt=""/>
					Профиль
				</a>
				<a href="/translator/orders/new" class="left-menu-btns">
					<img src="/images/account/orders.png" alt=""/>
					Новые
				</a>
				<a href="/translator/orders" class="left-menu-btns">
					<img src="/images/account/ordersinwork.png" alt=""/>
					Заказы в работе
				</a>
			{{/isTranslator}}
			<a href="/logout" class="left-menu-logout">
				<i class="fas fa-sign-out-alt"></i>
				Выход
			</a>
		</div>
	</div>
	<div class="right-side">
		<div class="right-side-header"></div>
		{{{yield}}}
	</div>
</div>
<script src="/js/accordion.js"></script>
</body>
</html>
