<!doctype html>
<html lang="en">
<head>
	<title>{{pageTitle}}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/css/main.css">
	<script src="/js/login.js"></script>
	<script src="/js/common.js"></script>

	<script src="https://kit.fontawesome.com/69b7c721d6.js" crossorigin="anonymous"></script>
	<link rel="icon" href="/images/logo.png">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
</head>
<body>

<div class="login-form-container">
	<div class="login-logo-wrapper">
		<img src="/images/logo.png" alt="" class="login-logo">
	</div>
	<form class="login-form">
		{{{yield}}}
	</form>
</div>
</body>
</html>