.accordion {
  padding: 12px;
}

.accordion-entry {
  cursor: pointer;
  margin: 6px 0;
  transition: 0.3s all;

  .accordion-entry-name {
    transition: 0.3s all;
    padding-left: 8px;
    flex: 3;
    display: flex;
    align-items: center;
    font-size: 18px;
    :hover {
      padding-left: 12px;
    }
  }

  &[data-accordion="active"] {
    .accordion-entry-name:hover {
      padding-left: 8px;
    }
  }
}

.accordion-entry-data {
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.3s all;
  height: 0;
  box-shadow: 1px 9px 10px rgba(0, 0, 0, 0.1);
}

.accordion-entry-open {
  animation: accordion-open 0.3s forwards;
}

.accordion-entry-close {
  animation: accordion-close 0.3s forwards;
}

.accordion-entry-name-wrapper {
  display: flex;
  background: $second-color;
  color: white;
  transition: 0.3s all;
  align-items: stretch;
}

.accordion-tag-express {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
}

.accordion-tag-translate {
  border-left: 6px $tag-translate-color solid;
}

.accordion-tag-edit {
  border-left: 6px $tag-edit-color solid;
}

.accordion-tag-cost {
  font-size: 22px;
  width: 120px;
  background-color: #647381;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 5px;
}

.accordion-tags {
  display: flex;
  font-size: 22px;
  background-color: #ccd3d9;
}

@keyframes accordion-open {
  from {
    height: 0;
  }
  to {
    height: 200px;
  }
}

@keyframes accordion-close {
  from {
    height: 200px;
  }
  to {
    height: 0;
  }
}
