.checkbox {
  top: 4px;
  width: 25px;
  height: 25px;
  border: 1px solid #404040;
  border-radius: 3px;
  order: 1;
  &:hover {
    cursor: pointer;
  }
}

.checkbox-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  & > label {
    padding-left: 5px;
  }
}

.checkbox-label {
  order: 1;
  flex: 1 1;
  &:hover {
    cursor: pointer;
  }
}

input[type='checkbox'] {
  display: none;
  &:checked {
    & + .checkbox {
      background: #2f4857;
    }
  }
}
