:root {
  --main-color: #{$main-color};
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background: white;
  font-family: 'Roboto Condensed', sans-serif;
}

input,
select {
  width: 100%;
  padding: 8px 6px;
  border: 1px solid #404040;
  border-radius: 3px;
  font-size: 16px;
  transition: 0.2s;
}

form {
  display: flex;
  flex-direction: column;
  padding: 12px;
}

input[type=submit] {
  width: 100%;
  background: #3D4144;
  color: white;
  :hover {
    cursor: pointer;
    background: #262A2C;
  }
}

input[type=file]::-webkit-file-upload-button {
  visibility: hidden;
}

input[readonly] {
  background: #f9f9f9;
  border: #f9f9f9;
  &:active,
  &:focus {
    outline: none;
  }
  &:hover {
    cursor: default;
  }
}

button {
  border: none;
  transition: 0.2s;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
  padding: 10px;
  color: white;
  border-radius: 3px;
  outline: none;
  &[disabled] {
    cursor: initial;
    background: #636363;
    border-bottom: 3px #484848 solid;
    opacity: 1;
    :hover {
      opacity: 1;
    }
  }
}

.row {
  width: 100%;
  padding: 8px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & .input-wrapper label,
  & > label {
    flex: 0 0 150px;
  }
}

.column {
  width: 100%;
  padding: 8px 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.files-input {
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}