.input-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  & > select + select {
    margin-right: 5px;
  }

  & + .input-wrapper > label {
    margin-right: 8px;
    margin-left: 5px;
  }
}

.file-add {
  flex-basis: 33%;
  padding: 6px 10px;
  border-radius: 3px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border: 1px #7366BA dashed;
  :hover {
    border: 1px #7366BA solid;
  }
}

.file-icon {
  width: 18px;
  height: 18px;
  margin-right: 4px;
}

.file-name {
  padding: 0;
  font-size: 20px;
  margin-bottom: 0;
}