.content-wrapper {
  display: flex;
  height: 100vh;
}

.accordion {
  flex: 1 1 auto;
  overflow: auto;
  height: calc(100% - 60px);
}

.right-side {
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.logo-trlr {
  display: flex;
  cursor: pointer;
  color: #ffffff;

  text-decoration: none;
  transition: 0.3s;
  align-items: center;
  justify-content: space-evenly;
  min-height: 60px;
  max-height: 60px;
  padding: 0 24px;
  box-shadow: 27px -4px 18px 0 rgba(25, 20, 20, 0.36);
  p {
    font-size: 22px;
  }
}

.fossalogo-trlr {
  width: 40px;
}

.left-menu-wrapper {
  width: 250px;
  border-top: 2px $main-border-color solid;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.left-menu-btns,
.left-menu-logout {
  display: flex;
  align-items: center;
  padding-left: 20px;
  height: 50px;
  font-size: 20px;
  color: white;
  opacity: 0.8;
  text-decoration: none;
  border-bottom: 2px $main-border-color solid;
  transition: 0.3s all;
  &:hover {
    opacity: 1;
    background: $main-hover-color;
  }
  img {
    width: 20px;
    margin-right: 10px;
  }
}

.left-menu-logout {
  border-top: 2px var(--main-color) solid;
  margin-top: auto;
}

.left-side {
  width: 250px;
  height: 100%;
  max-height: 100%;
  display: flex;
  background: var(--main-color);
  flex-direction: column;
  z-index: 10;
}