.login-form-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-form {
  display: flex;
  flex-direction: column;
  position: relative;
  background: white;
  width: 295px;
  padding: 30px 24px;
  box-shadow: -1px 4px 17px 0px #e0e0e0;
}

.login-logo-wrapper {
  text-decoration: none;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}

.login-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 15px;
}

.login-input-wrapper {
  display: flex;
  border-bottom: 2px solid black;
  align-items: center;
  padding: 0 4px;
  &:hover {
    cursor: pointer;
  }
}

.login-input {
  border: none;
  outline: none;
  background: none;
  padding: 8px 12px;
}

.login-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  & + .login-row {
    padding-bottom: 32px;
  }
}

.login-input-label {
  display: flex;
  padding: 7px;
}

.login-submit {
  text-align: center;
  background: linear-gradient(to right, #02d1d9, #397ef7, #6734d9);
  border: none;
  padding: 12px;
  width: 100%;
  text-transform: uppercase;
  color: white;
  font-size: 18px;
  outline: none;
}

.login-forgot-password {
  font-weight: bold;
  font-size: 12px;
  text-align: right;
  margin-top: 5px;
  color: black;
  width: 100%;
  display: block;
}

.login-forgot-password:hover {
  cursor: pointer;
}

.login-error {
  color: red;
  text-align: center;
  padding: 5px;
  display: none;
}