.order-document-type {
  float: left;
  margin-right: 4px;
}

.icon-file-download {
  float: right;
  margin-left: 3px;
  cursor: pointer;
}

.order-price-sum {
  display: flex;
  font-size: 24px;
  padding-left: 5px;
}

.order-price {
  padding: 0 10px;
}

.form-column-right {
  padding: 20px;
  background: #F7F7F7;
  border: 2px #808080 solid;
  border-top: none;
  display: flex;
  flex-direction: column-reverse;
  flex: 1 0 100%
}

.form-button-save {
  background: $success-button-background-color;
  border-bottom: 3px $success-button-border-color solid;
}

.form-button-icon {
  pointer-events: none;
}

.form-button-text {
  pointer-events: none;
  font-size: 22px;
  flex: 1;
}

.form-button {
  padding: 15px 20px;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 100%;
  margin: 5px 0;
  color: white;
  border-radius: 3px;
  &:hover {
    opacity: 0.8;
  }
}

.order-button-create {
  background: #FFAB47;
  border-bottom: 3px #BA7B34 solid;
}

.order-button-print {
  background: #037D7E;
  border-bottom: 3px #005B5B solid;
}

.order-button-edit {
  background: #9A2CBC;
  border-bottom: 3px #712789 solid;
}

.form-wrapper {
  display: flex;
  margin: 30px;
  flex-wrap: wrap;
}

.orders-wrapper {
  min-width: 1300px;
  width: 80vw;
  flex-wrap: wrap;
}

.form-column-left {
  background: #F9F9F9;
  border: 2px #808080 solid;
  padding: 10px;
  flex-basis: 100%;
  border-bottom: none;
}

.form-title {
  padding: 10px;
  margin: -10px -10px 10px;
  text-align: center;
  font-size: 20px;
  background: #F7F7F7;
  border-bottom: 2px #DCDCDC solid;
}

.order-documents-wrapper {
  width: 80%;
  margin: 10px 0;
  flex: 1 1 100%;
}

.order-documents-selected {
  display: block;
  width: 100%;
  height: 40px;
  padding: 8px 6px;
  font-size: 16px;
  transition: 0.2s;
  border: 1px black dashed;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  img {
    margin-right: 5px;
  }
  &:hover {
    background: #F5FFDD;
    transition: 0.3s;
  }
}

.order-documents-list {
  display: none;
  flex-wrap: wrap;
  width: 100%;
  padding: 8px;
  font-size: 16px;
  transition: 0.2s;
  border: 1px black dashed;
  & > * {
    flex: 1;
    height: 30px;
  }
}

.order-selected-file {
  flex: 1 0 33%;
  margin-bottom: 5px;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  background: #E5E5E5;
  width: 180px;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
}

.selected-file,
.order-selected-file{
  p {
    display: inline-block;
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.order-number {
  input {
    width: 50px;
  }
}