.print-page {
  margin: 0 auto;
  width: 877px;
  display: flex;
}

td {
  border: 1px black solid;
}

.print-table {
  width: 100%;
  font-size: 30px;
}

.print-top,
.print-main,
.print-second {
  padding: 30px;
  display: flex;
}

.receipt-top,
.receipt-body {
  padding: 10px 10px 10px 30px;
  display: flex;
}

.print-top,
.print-second {
  padding-bottom: 0;
}

.print-main {
  padding-top: 20px;
}

.print-top div {
  float: left;
}

.print-number,
.print-dates,
.print-express {
  font-size: 18px;
}

.print-number {
  width: 150px;
  font-size: 18px;
}

.print-dates {
  width: 450px;
}

.print-express {
  width: 150px;
  text-align: right;
}


.print-main,
.print-second,
.receipt-top,
.receipt-body {
  border: 0;
  font-size: 18px;
}

.receipt-top {
  margin-top: -20px;
  font-size: 18px;
}

.print-second,
.receipt-body {
  padding-top: 0;
  width: 100%;
}

.receipt-body {
  display: block;
}

#print-leftblock {
  width: 577px;
}

.print-sting {
  width: 550px;
  margin-bottom: 10px;
}

.cost {
  margin-bottom: 10px;
  display: flex;
}

.final-cost {
  padding-top: 10px;
  font-size: 24px;
}

.final-cost-label {
  font-weight: bold;
  font-size: 24px;
  margin-right: 10px;
}

.print-rightblock {
  width: 300px;
  border-left: 2px black solid;
  padding-left: 10px;
}

.print-label,
.print-cost {
  font-weight: bold;
  margin-right: 5px;
}

.print-cost {
  width: 120px;
}

.cost-number {
  width: 100px;
}
