body {
  background: #F2F0F2;
}

.cards-container {
  padding: 64px;
  .empty {
    width: 100%;
    font-size: 24px;
  }
}

.right-side-header {
  width: 100%;
  background: var(--main-color);
  color: white;
  display: flex;
  align-items: center;
  min-height: 60px;
  max-height: 60px;
  padding-left: 25px;
}

.filter-lang {
  font-size: 20px;
  padding: 0 12px;
}

.filter-price {
  font-size: 20px;
  display: flex;
  border-left: inset #7e8aa7 2px;
  padding-left: 12px;
}

.filter-title {
  padding-right: 10px;
}
.filter-price-min {
  margin-right: 10px;
}

.filter-price-max {
  margin-left: 10px;
}

.filter-price-min,
.filter-price-max {
  width: 100px;
  border-bottom: solid 2px white;
  text-align: center;
}

.card {
  display: flex;
  position: relative;
  background: white;
  padding: 30px;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  & + .card {
    margin-top: 20px;
  }
}

.profile-avatar {
  order: 0;
  width: 140px;
  height: 140px;
  border: 1px #EFEFF2 solid;
}

.profile,
.order-details {
  width: 100%;
  font-size: 20px;
}

.profile-qualification {
  padding-top: 12px;
  color: #8E8D8E;
}

.profile-name {
  padding-top: 12px;
}

.pills-row {
  width: 100%;
  margin-top: 20px;
  color: #4F4981;
  word-wrap: break-word;
  display: flex;
  flex-wrap: wrap;
}

.pill {
  text-transform: capitalize;
  padding: 10px;
  background: #EBE8F9;
  margin-right: 5px;
  border-radius: 3px;
  font-size: 16px;
}

.order-details {
  width: 100%;
  .profile {
    border-right: 1px #D6DBDE solid;
  }
}

.order-actions {
  width: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  text-align: center;
  font-size: 30px;
  padding: 10px 10px 10px 30px;
}

.order-expiration-date {
  font-size: 16px;
  margin-top: 10px;
}

.assign-button {
  background: #6EDA10;
  &:hover {
    background: #7CE81E;
  }
}

.order-to-approve {
  background: #0DB2E9;
  &:hover {
    background: #58C4E8;
  }
}

.order-refuse {
  background: #E44729;
  &:hover {
    background: #e0745c;
    color: white;
  }
}

.order-recommendations {
  font-size: 16px;
  color: #898989;
  padding: 12px 0;
}

.order-upload-files {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 2px #D6DBDE dashed;
}

.order-cabinet-files,
.order-upload-result {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.order-files {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.order-file {
  padding: 6px 10px;
  border-radius: 3px;
  margin-right: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px #7366BA dashed;
  &:hover {
    border: 1px #7366BA solid;
  }
}

.profile-balance {
  width: 250px;
  padding: 5px 30px 30px;
}

.balance-header {
  font-size: 25px;
  color: #8E8D8E;
}

.balance {
  font-size: 30px;
  padding-top: 10px;
  color: black;
}

.payment-history-entry {
  color: #005B5B;
}

.payment-history-show-more {
  text-decoration: none;
  padding-top: 10px;
  color: #23C0E9;
}

.file {
  padding: 12px;
  border-radius: 4px;
  color: #8E8D8E;
}

.order-upload-result {
  display: flex;
}

.files-row {
  display: flex;
  flex-wrap: wrap;
}

//todo check wehere it's used
.status-pane-translating {
  position: absolute;
  width: 160px;
  top: -6px;
  left: -6px;
  background: #00758b;
  text-align: center;
  padding: 4px 0;
  color: white;
}

.status-pane-approving {
  position: absolute;
  width: 160px;
  top: -6px;
  left: -6px;
  background: #cd5501;
  text-align: center;
  padding: 5px 0;
  color: white;
}