$main-color: #353C51;
$main-border-color: #3f445d;
$main-hover-color: lighten($main-color, 10%);

$second-color: #8193a4;

$success-color: #6EDA10;

$success-button-background-color: $success-color;
$success-button-border-color: darken($success-button-background-color, 5%);

$tag-edit-color: #ca5703;
$tag-translate-color: #03758b;