<div class="accordion">
	{{#orders}}
		<div class="accordion-entry">
			<div class="accordion-entry-name-wrapper accordion-tag-{{type}}">
				<div class="accordion-entry-name">
					<p>{{listDocs}}</p>
				</div>
				<div class="accordion-tags">
					{{#expressCheck}}
						<div class="accordion-tag-express">
							<img src="/images/express_order.svg" alt="express" class="icon ">
						</div>
					{{/expressCheck}}
					<div class="accordion-tag-cost">
						<p>{{price}}₽</p>
					</div>
				</div>
			</div>
			<div class="accordion-entry-data">
				<div class="card">
					<div class="order-details">
						<div class="pills-row">
							<p class="pill">{{languageFrom}}</p>
							<p class="pill">{{languageTo}}</p>
						</div>
						<div class="order-recommendations">{{additionalMaterials}}</div>
					</div>
					<div class="order-actions">
						<p class="order-price">{{price}}₽</p>
						<button class="assign-button" onclick="sendOrderToWork('{{id}}')">В работу</button>
						<a class="order-expiration-date" title="Время завершения">{{dateTo}}</a>
					</div>
				</div>
			</div>
		</div>
	{{/orders}}
</div>