<div class="form-wrapper">
    <div class="form-column-left">
        <div class="form-title">Изменение заказа</div>
        <form action="/api/orders/new" method="PUT">
            <div class="row">
                <div class="order-number">
                    <label for="id">Заказ №</label>
                    <input id="id"
                           type="text"
                           value="{{order.id}}"
                           name="id" readonly>
                </div>
                <div class="input-wrapper">
                    <label for="dateFrom">От</label>
                    <input type="text" name="dateFrom"
                           id="dateFrom"
                           value="{{order.dateFrom}}" required>
                </div>
                <div class="input-wrapper">
                    <label for="dateTo">До</label>
                    <input type="text" name="dateTo" id="dateTo"
                           value="{{order.dateTo}}" required>
                </div>
            </div>
            <div class="row">
                <div class="input-wrapper">
                    <label for="clientName">ФИО клиента</label>
                    <input id="clientName"
                           type="text"
                           placeholder="Введите данные клиента"
                           name="name" value="{{order.name}}" required>
                </div>
            </div>
            <div class="row">
                <div class="input-wrapper">
                    <label for="clientEmail">E-mail</label>
                    <input id="clientEmail"
                           type="text"
                           placeholder="email@fossa-translate.ru"
                           name="email" value="{{order.email}}">
                </div>
                <div class="input-wrapper">
                    <label for="clientNumber">Номер телефона</label>
                    <input id="clientNumber"
                           type="text"
                           placeholder="+79XX XXX XX XX"
                           name="phone" value="{{order.phone}}">
                </div>
            </div>
            <div class="row">
                <div class="input-wrapper">
                    <label for="listDocs">Документы</label>
                    <input id="listDocs"
                           type="text"
                           name="listDocs"
                           value="{{order.listDocs}}" required>
                </div>
            </div>
            <div class="row">
                <div class="input-wrapper">
                    <label>Файлы документов</label>
                    <div class="order-documents-wrapper">
                        <label for="documents" class="order-documents-selected" {{#files.length}}style="display: none"{{/files.length}}>
                            <img src="/images/content_6.png" alt=""/>
                            Выберите файлы
                        </label>
                        <input type="file" id="documents" name="documents" multiple
                               class="files-input">
                        <div class="order-documents-list" {{#files.length}}style="display: flex"{{/files.length}}>
                            <label class="file-add" for="documents">
                                Добавить еще
                                <img src="/images/content_8.png" class="order-documents-delete"
                                     alt=""/>
                            </label>

                            {{#files.length}}
                                {{#files}}
                                    <label class="order-selected-file">
                                        <img src="/images/file ext/{{icon}}.png" class="order-document-type" alt="">
                                        <p>{{name}}</p>
                                        <img src="/images/content_7.png" class="order-document-delete" alt=""></label>
                                {{/files}}
                            {{/files.length}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-wrapper">
                    <label for="additionalMaterials">Описание и рекомендации</label>
                    <input id="additionalMaterials" type="text" name="additionalMaterials"
                           value="{{order.additionalMaterials}}">
                </div>
            </div>
            <div class="row">
                <div class="input-wrapper">
                    <label for="whereyouknow">Откуда узнали</label>
                    <input id="whereyouknow" type="text" name="whereyouknow"
                           value="{{order.whereyouknow}}">
                </div>
            </div>
            <div class="row">
                <label>Языковая пара</label>
                <div class="input-wrapper">
                    <label for="languageFrom"></label>
                    <select id="languageFrom" name="languageFrom">
                        {{#languages}}
                            {{#selectedFrom}}
                                <option selected>{{name}}</option>
                            {{/selectedFrom}}
                            {{^selectedFrom}}
                                <option>{{.}}</option>
                            {{/selectedFrom}}
                        {{/languages}}
                    </select>
                </div>
                <div class="input-wrapper">
                    <label for="languageTo"></label>
                    <select id="languageTo" name="languageTo">
                        {{#languages}}
                            {{#selectedTo}}
                                <option selected>{{name}}</option>
                            {{/selectedTo}}
                            {{^selectedTo}}
                                <option>{{.}}</option>
                            {{/selectedTo}}
                        {{/languages}}
                    </select>
                </div>
            </div>
            <div class="row">
                <label>Услуги бюро</label>
                <div class="input-wrapper">
                    <label for="bureauPrice"></label>
                    <input id="bureauPrice"
                           type="number"
                           name="bureauPrice"
                           value={{order.bureauPrice}} required onchange="calculatePrice()">
                </div>
                <div class="input-wrapper">

                    <label for="pageCount">Cтраниц</label>
                    <input id="pageCount"
                           type="number"
                           name="pageCount"
                           value={{order.pageCount}} required onchange="calculatePrice()">
                </div>
                <div class="input-wrapper">
                    <label for="notaryPrice">Нотариус</label>
                    <input id="notaryPrice"
                           type="number"
                           name="notaryPrice"
                           value={{order.notaryPrice}} required onchange="calculatePrice()">
                </div>

            </div>
            <div class="row">
                <div class="input-wrapper">
                    <label for="prepayment">Предоплата</label>
                    <input id="prepayment" name="prepayment" type="number"
                           value="{{order.prepayment}}" required>
                </div>
            </div>
            <div class="row">
                <div class="input-wrapper">
                    <label for="translatorQualification">Квалификация</label>
                    <select id="translatorQualification" name="translatorQualification">
                    {{#order.translatorQualification}}
                        <option value="{{value}}" {{#selected}}selected{{/selected}}>{{name}}</option>
                    {{/order.translatorQualification}}
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="form-column-right">
        <div class="form-buttons-row">
	        <div class="order-price-sum">
		        <p>Итого: </p>
		        <div class="order-price">{{order.price}}</div>
		        ₽уб.
	        </div>
            <button class="form-button order-button-edit" onclick="editOrder({{order.id}})">
                <img class="form-button-icon" src="/images/content_0.png" alt="">
                <p class="form-button-text">Изменить заказ</p>
            </button>
            <button class="form-button order-button-print" onclick="printOrder({{order.id}})">
                <img class="form-button-icon" src="/images/content_3.png" alt="">
                <p class="form-button-text">Печать заказа</p>
            </button>
            <button class="form-button order-button-create" onclick="location.href='new'">
                <img class="form-button-icon" src="/images/content_2.png" alt="">
                <p class="form-button-text">Создать новый</p>
            </button>
        </div>
        <div class="column">
            <div class="row">
                <div class="checkbox-wrapper">
                    <input id="expressCheck" type="checkbox"
                           name="expressCheck"
                           {{#order.expressCheck}}checked{{/order.expressCheck}}>
                    <label for="expressCheck" class="checkbox"></label>
                    <label for="expressCheck" class="checkbox-label">Срочно</label>
                </div>
            </div>
            <div class="row">
                <div class="checkbox-wrapper">
                    <input type="checkbox" id="notaryCheck"
                           name="notaryCheck"
                           {{#order.notaryCheck}}checked{{/order.notaryCheck}}>
                    <label for="notaryCheck" class="checkbox"></label>
                    <label for="notaryCheck" class="checkbox-label">Нотариальное заверение</label>
                </div>
            </div>
            <div class="row">
                <div class="checkbox-wrapper">
                    <input type="checkbox" id="apostyleCheck"
                           name="apostyleCheck"
                           {{#order.apostyleCheck}}checked{{/order.apostyleCheck}}>
                    <label for="apostyleCheck" class="checkbox"></label>
                    <label for="apostyleCheck" class="checkbox-label">Апостиль</label>
                </div>
            </div>
            <div class="row">
                <div class="checkbox-wrapper">
                    <input type="checkbox" id="signFossa"
                           name="signFossa"
                           {{#order.signFossa}}checked{{/order.signFossa}}>
                    <label for="signFossa" class="checkbox"></label>
                    <label for="signFossa" class="checkbox-label">Печать бюро</label>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    initFileInput(true);
</script>
