<div class="print-page">
    <div class="print-table">
        <div class="print-top">
            <div class="print-number">Заказ № <b>{{order.id}}</b></div>
            <div class="print-dates">от {{order.dateFrom}} до {{order.dateTo}}</div>
            {{#order.expressCheck}}
                <div class="print-express">
                    <u>Срочный</u>
                </div>
            {{/order.expressCheck}}
        </div>
        <div class="print-main">
            <div id="print-leftblock">
                <div class="print-sting">
                    <label class="print-label">ФИО Клиента:</label>
                    <label>{{order.name}}</label>
                </div>
                <div class="print-sting">
                    <label class="print-label">Контакты:</label>
                    <label style="margin-right: 20px;">{{order.phone}}</label>
                    <label>{{order.email}}</label>
                </div>
                <div class="print-sting">
                    <label class="print-label">Языковая пара:</label>
                    <label>{{order.languageFrom}}</label>
                    <label style="margin: 0 10px 0 10px;">-</label>
                    <label>{{order.languageTo}}</label>
                </div>
                <div class="print-sting">
                    <label class="print-label">Документы:</label>
                    <label>{{order.listDocs}}</label>
                </div>
                <div class="print-sting">
                    <label class="print-label">Рекомендации:</label>
                    <label>{{order.additionalMaterials}}</label>
                </div>
                <div class="print-sting">
                    <label class="print-label">Откуда вы узнали про нас?</label>
                    <label>{{order.whereyouknow}}</label>
                </div>
            </div>
            <div class="print-rightblock">
                <div class="cost">
                    <label class="print-cost">Услуги бюро:</label>
                    <label class="cost-number">{{order.bureauPrice}}₽</label></div>
                <div class="cost">
                    <label class="print-cost">Страниц:</label>
                    <label class="cost-number">{{order.pageCount}}</label>
                </div>
                <div class="cost">
                    <label class="print-cost">Нотариус:</label>
                    <label class="cost-number">{{order.notaryPrice}}₽</label>
                </div>
                <div class="cost">
                    <label class="print-cost">Предоплата:</label>
                    <label class="cost-number">{{order.prepayment}}₽ </label></div>
                <div class="cost">
                    <label class="print-cost">Доплата:</label>
                    <label class="cost-number">
                        <text class="surcharge-top"></text>
                        ₽
                    </label>
                </div>
                <div class="final-cost">
                    <label class="final-cost-label">Итого:</label>
                    <label>{{order.price}} ₽</label>
                </div>
            </div>
        </div>
        <div class="print-second">
            <div style="width: 577px;">Подписывая бланк, вы даете согласие на обработку персональных
                данных
            </div>
            <div style="width: 150px; text-align: center; font-size: 12px;border-top: 1px black solid; margin-top: 25px;">
                (подпись клиента)
            </div>
        </div>
        <img src="/images/print/scissorsCut.jpg"
             style="padding-left: 30px; margin-bottom: 10px; width: 90%;" alt=""/>
        <div class="receipt">
            <div class="receipt-top">
                <label>Квитанция №{{order.id}}</label>
            </div>
            <div class="receipt-body">
                <label style="margin-right: 30px;">Выдана (кому):</label>
                <label>
                    <u>{{order.name}}</u>
                </label>
            </div>
            <div class="receipt-body">
                <label style="margin-right: 30px;">Получено:</label>
                <label style="margin-right: 30px;">
                    <u>{{order.prepayment}}</u>
                    руб.
                </label>
                <label>{{order.listDocs}}</label>
            </div>
            <div class="receipt-body">
                <label>
                    Ваш заказ будет готов
                    <u>{{order.dateTo}}</u>
                </label>
            </div>
            <div class="receipt-body" style="display: flex;">
                <label style="width: 455px;">Доплата <u class="surcharge"></u> руб. после получения</label>
                <div style="margin-right: 100px;">{{order.dateFrom}}</div>
            </div>
            <div class="receipt-body"
                 style="margin-top: -10px; display: flex; justify-content: flex-end;">
                <div style="margin-right: 45px; font-size: 12px; border-top: 1px black solid;">(дата
                    формирования заказа)
                </div>
                <div style="margin-right: 120px; font-size: 12px; border-top: 1px black solid;">
                    (подпись переводчика)
                </div>
            </div>
        </div>
        <img src="/images/print/scissorsCut.jpg"
             style="padding-left: 30px; margin-bottom: 10px; width: 90%;" alt=""/>
    </div>
</div>
<link rel="stylesheet" href="/css/print.css">
<script>
    const orderPrice = parseInt('{{order.price}}');
    const orderPrepayment = parseInt('{{order.prepayment}}');
    document.querySelector('.surcharge-top').textContent = (orderPrice - orderPrepayment).toString();
    document.querySelector('.surcharge').textContent = (orderPrice - orderPrepayment).toString();
</script>
