<div class="form-wrapper">
    <div class="form-column-left">
        <div class="form-title">Добавление переводчика</div>
        <form action="/api/mail/invite" method="POST">
            <div class="row">
                <div class="input-wrapper">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email">
                </div>
            </div>
            <div class="row">
                <div class="input-wrapper">
                    <label for="name">ФИО</label>
                    <input type="text" name="name" id="name">
                </div>
            </div>
            <div class="row">
                <div class="input-wrapper">
                    <label for="languages">Языки</label>
                    <input type="languages" name="languages" id="languages">
                </div>
            </div>
            <div class="row">
                <div class="input-wrapper">
                    <label for="qualification">Квалификация</label>
                    <select id="qualification" name="qualification">
                        <option value="novice">Стажер</option>
                        <option value="translator">Переводчик</option>
                        <option value="qualified">Квалифицированный переводчик</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="form-column-right">
        <div class="form-buttons-row">
            <button class="form-button form-button-save" onclick="inviteUser()">
                <p class="form-button-text">Добавить</p>
            </button>
        </div>
    </div>
</div>