<div class="accordion">
	{{#users.length}}
		{{#users}}
			<div class="accordion-entry">
				<div class="accordion-entry-name-wrapper">
					<div class="accordion-entry-name">
						<p>{{name}}</p>
					</div>
					<div class="accordion-tags">
						<div class="accordion-tag-cost">
							<p>{{balance.total}}₽</p>
						</div>
					</div>
				</div>
				<div class="accordion-entry-data">
					<div class="card">
						<div class="profile-description">
							<p class="profile-name">{{name}}</p>
							<p class="profile-qualification">{{qualificationLocalized}}</p>
							<div class="pills-row">
								{{#languages}}
									<p class="pill">{{.}}</p>
								{{/languages}}
							</div>
						</div>
					</div>
				</div>
			</div>
		{{/users}}
	{{/users.length}}
	{{^users.length}}
		пусто :(
	{{/users.length}}
</div>